* {
    box-sizing: border-box;
    user-select: none;
}

*,
*::after, 
*::before{
    margin: 0;
    padding: 0;
}

:root {
    --white:  #FFFFFF;
    --black:  #000000;
    --grey:  #8B8B8B;



}

html::-webkit-scrollbar {
    display: none;
  }

    /* overflow: hidden; */
html{




    border: 3px solid red;
}

body {
    width: 37.5rem;
    height: 72.5625rem;
    border: 3px solid red;
    margin-inline: auto;

    
}

header {
    height: 10.4375rem;
    background: url("./images/ferks-guare-KEZdWfYD-ow-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 66%;
    display: flex;




}

.heading {
    width: 15.3125rem;
    align-self: center;
    margin-left: 2.875rem;
    color: var(--white);
    font-family: 'Smythe', system-ui;
}

.heading>h1 {
    font-weight: normal;
    font-size: 2.4375rem;
}
.heading>p {
    font-weight: normal;
    font-size: 1.40125rem;
} 

main {
    margin-top: 4.1875rem;
    width: 37.5rem;
    height: 36.0625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.8125rem;
;
    
}
.container {
    width: 31.75rem;
    height: 8.75rem;
    display: flex;
    justify-content: space-between;

}
hr {
    width: 31.5rem;
    border: 1px solid #D2D2D2;
    margin-bottom: 2.8125rem;

}
button {
    width: 3.125rem;
    height: 3.125rem;
    border: 1px solid #D2D2D2;
    border-radius: 50%;
    font-size: 2rem;
    color: #3C3C3C;
    background: none;
    display: block;
    margin-top: 1.5rem;
   
   

}
button:hover {
    cursor: pointer;
}
.none {
    margin-bottom: none;
}

.container>img {
    width: 3.69rem;
    height: 5.5625rem;

}
:is(#pizza>img, #burger>img) {
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.container-fluid {
    font-family: 'Smythe', system-ui;
    padding-right: 12.5rem;
    display: block;
    margin-block: auto;
    
}

:is(.container-fluid>h2, #pre-checkout>h2, .summary>h2){
    font-weight: 400;
    font-size: 1.75rem;
    
}
.container-fluid>p{
    font-weight: 400;
    font-size: 1rem;
    /* line-height: 1.5rem; */
    color: #8B8B8B;
    margin-bottom: none;
}

.container-fluid>h3{
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    
    
}

#burger>.container-fluid {
    padding-right: 16.25rem;
}

#beer>.container-fluid{
    padding-right: 15rem;
}

.pre-checkout{
    width: 31.75rem;
    height: 19.9375rem;
    margin-top: -2rem;
    margin-inline: auto;
    font-family: 'Smythe', system-ui;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        text-align: center;
    }

   

    .summary {
        padding-right: 25rem;
        text-align: left;
        display: flex;
        flex-direction: column;

        .item-checkout {
            display: flex;
            justify-content: space-between;
            width: 31.25rem;
            font-style: 1.75rem;
            overflow: none;
        h2{
            text-align: left;
            font-weight: 400;
            font-size: 1.75rem
        }

        .count{
            color: hsl(0, 21%, 28%);
            font-size: 1.3rem;
            margin-left: 5rem;
        }
           
        .count {
            margin-left: 0;
        }

         span{
                color: var(--black);
                font-size: 1.50rem;
            }

            button{
            width: 3rem;
            height: 1.375rem;
            border-radius: 0;
            border-style: none;
            font-size: .75rem;
            color: #BBBBBB;
            background: none;
            padding-bottom: -3rem;
            margin-top: 0;
            margin-top: 5px;
            margin-right: 18.75rem;
            text-align: left;
            
            
            
            }

            #burger_count {
                margin-left: -3.5rem;
                
            }
            .foo{
               margin-left: 1.7rem; 
            }
            #burger-remove{
                margin-left: -.5rem;

            }
            #burger-price{
                margin-left: -1rem;
            }
            /* .count{
                margin-right: 1rem;
            } */
        }
    }
}


.summary>hr {
    width: 31rem;
    border: 1px solid var(--black);
    margin-block: 1rem;

}
:is(#pizza-checkout, #beer-checkout, #burger-checkout) {
    display: none;
}

aside {
  

    form{
    width: 32.765rem;
    height: 32.75rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-inline: auto;
    margin-top: 19.8rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 80px 10px;
    border-radius: 3px;
        
        h2{
            padding-bottom: 3rem;
            padding-right: 4rem;
            font-family: 'Verdana', sans-serif;
            font-size: 1.5rem;
                                                
        }

        input{
            width: 31.55rem;
            height: 3.75rem;
            padding-left: 1rem;
            margin-bottom: 1rem;
            font-family: 'Verdana', sans-serif;
            border: 1px solid #757575;
            border-radius: 3.89px;
            font-size: 1.25rem;
        }
        input:is(:focus){
            border: 1px solid #757575;
            outline: none;
        }
    }

}

.checkout {
    width: 31.55rem;
    height: 3.75rem;
    border: none;
    border-style: none;
    background-color: #16DB99;
    border-radius: 0%;
    
    font-size: 1.2rem;
    color: var(--white);
    display: inline-block;
    text-align: center;

    margin-inline: auto;
    
}
